@model List<ResumeWebApplication.Data.Project>
@foreach (var project in Model)
{
    <div class="col-md-4">
        <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(../Content/images/@project.ImagePath);">
            <div class="overlay"></div>
            <div class="text text-center p-4">
                <h3><a href="#">@project.Name</a></h3>
                <span>@project.Category</span>
            </div>
        </div>
    </div>
}
